<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1><img src="/images/logo.png" alt="HackTechBook"></h1>
      </div>
    </div>
  </div>
<% end %>

<%= render 'rankings/review', books: @review_books, ranking_reviews: @ranking_reviews %>
<%= render 'rankings/want', books: @want_books, ranking_counts: @want_ranking_counts %>
<%= render 'rankings/have', books: @have_books, ranking_counts: @have_ranking_counts %>
