/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

hr {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  background: url("/images/cover-bg.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

/* search */
.search {
  margin-bottom: 20px;
}

/* book */
.book .panel-body {
  height: 120px;
}

.book .panel-heading {
  height: 250px;
}

.book .panel-heading img {
  height: 100%;
  max-width: 100%;
}

.book-image-wrap .book {
  text-align: center;
}

.book-detail-wrap {
  padding-left: 0;
}

p.book-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.book .buttons form {
  display: inline-block;
  margin: 0 5px;
}

.book-image {
  width: 250px;
  margin-top: 0px;
  border: 1px solid #c9c9c9;
  box-shadow: 1px 1px 4px #8a8a8a;
}

.link-rakuten {
  width: 250px;
  margin-top: 10px;
}

.book-title {
  margin-top: 0;
}

.caption-area {
  margin-top: 20px;
}

.rating-area {
  margin: 5px 15px 5px 0;
}

.calil_banner {
  margin: 0 15px 15px 0;
}

.review-panel {
  margin-bottom: 0;
}

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}
 
#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("/images/gif-load.gif") center center no-repeat;
}

.check-cities {
  margin-left: 1em;
}

/* users */
.user-profile .name {
  margin-bottom: 20px;
}
.user-profile .name h1 {
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
}
.user-profile .status ul {
  margin: 0 auto 10px;
  padding: 0;
  display: table;
}
.user-profile .status ul li {
  width: 120px;
  padding: 5px 0;
  border-right: 1px solid #ddd;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #777;
}
.user-profile .status ul li:last-child {
  border: none;
}
.user-profile .status ul li .status-label {
  font-size: 12px;
}
.user-profile .status ul li .status-value {
  font-size: 18px;
}

.form-search {
  position: relative;
}

.input-search {
  left: 0;
  top: 0; 
  border-radius: 22px;
  outline: 0;
}

.btn-search {
  position: absolute; 
  right: 0; /*アイコン左右の位置調整*/
  top: 0;
  background: none;
  color: #999;
  border: none;
  font-size: 20px; /*アイコンサイズ*/
}

.btn-search:hover, .btn-search:active, .btn-search:focus {
  border-radius: 22px;
  border: none;
  color: #2ecc87;
  background :none;
  box-shadow: none;
}

